@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(49, 49, 49);
    display: flex;
    margin: 0 auto;
    width: 70vw;
    max-width: 1024px;
    flex-wrap: wrap;
    align-items: justify;
    justify-content: space-around;
}
.container{
    margin: 0 auto;
    width: 80vw;
    max-width: 1224px;
}
section{
   
}
h1{
    color: #fff;
    width: 100vw;
    font-weight: 600;
    font-size: 40px;
    margin-top: 10%;
    padding: 5% 0;
    text-align: center;
   
}
.pgt{
    font-size: 20px;
    width: 400px;
    margin: 1.5em 0;
    padding: .85em;
    border-radius: .375em;
    background-color: rgb(187, 187, 190);
    text-align: center;
    color: rgba(52,53,65, 1);
}
.pgt:hover{
    background-color: rgb(213, 210, 210);
}
