.Fundo2 {
  background-color: white;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50%;
}

.Fundo3 {
  background-color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
}

.Imagen {
  width: 150%;
}

.barrinha-verde {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 13px;
  background-color: #39BF67;
}

h1 {
  font-weight: normal;
  font-size: 1.35em;
}

.pergunta {
  max-width: 165px;
  position: absolute;
  top: 3%;
  left: 35px;
  line-height: 1.4em;
}

.resposta {
  max-width: 440px;
  position: absolute;
  line-height: 1.4em;
  right: 16px;
  top: 55%;
  text-align: right;
  font-size: 1.2em;
}

.QuadradoCamisa {
  position: absolute;
  left: -35px;
  width: 35%;
  bottom: -10px;
}

.QuadradoPergunta {
  position: absolute;
  right: 10px;
  width: 40%;
  top: -55px;
}

/* Importante! */
@media screen and (min-height: 950px) {
  .QuadradoCamisa {
    width: 30%;
    bottom: -30px;
  }

  .QuadradoPergunta {
    top: -130px;
  }

  .pergunta {
    max-width: 540px;
    top: 13%;
  }

  .resposta {
    max-width: 580px;
    top: 62%;

  }
}

@media screen and (min-height: 1300px) {
  .QuadradoPergunta {
    top: -165px;
  }

  .pergunta {
    line-height: 1.3em;
  }
}

@media screen and (min-height: 1100px) {
  .resposta {
    max-width: 700px;
    top: 62%;
  }
}

@media screen and (min-width: 500px) and (min-height: 700px) and (max-height: 950px) {
  .QuadradoCamisa {
    width: 30%;
  }

  .QuadradoPergunta {
    top: -85px;
  }

  .resposta {
    max-width: 400px;
    top: 62%;
  }
}

@media screen and (max-width: 500px) {
  .resposta {
    max-width: 310px;
  }
}

@media screen and (min-height: 600px) and (max-height: 700px) {
  .resposta {
    max-width: 240px;
  }
}